body {
    background-color: rgb(162, 230, 230);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: 10%;
}

.input {
    padding: 50px 100px;
    outline: solid 1px black;
    background-color: teal;
    &__morse {
        display: flex;
    }
    &__text {
        display: flex;
    }
    
}