body {
    background-color: teal;
    // display: flex;
    // // align-items: center;
    // justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 15%;
}

.display {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 5% 10%;
    background-color: rgb(240, 239, 239);
    &__morse {
        display: flex;
    }
    &__text {
        display: flex;
    }
    &__output {
        margin: 20px;
        min-height: 20px;
        max-width: 400px;
        text-align: center;
    }   
}

label {
    font-size: 1.8rem;
    margin-right: 20px;
}

.text, .morse {
    min-height: 25px;
    min-width: 300px;
    font-size: 1.8rem;
}

.output__morse {
    margin-top: 10px;
    background-color: white;
    min-height: 35px;
    box-shadow: 0px 1px 1px grey;
    font-size: 2rem;
}